// GRID

img {
	width: 100%;
}

.container {
<<<<<<< HEAD
	// transform: skewY(-3.01deg);
=======
	transform: skewY(-3.01deg);
>>>>>>> c6b651fe6c266ba5f7eb2939d021b3a89663da46
	width: 100%;
	max-width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	overflow: hidden;
}

.row {
<<<<<<< HEAD
	// transform: skewY(3.01deg);
=======
	transform: skewY(3.01deg);
>>>>>>> c6b651fe6c266ba5f7eb2939d021b3a89663da46
	max-width: $content;
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}